@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer{
align-items:center;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  font-size: 45px;
  font-weight:500;

}
.childContainer{
  width: 450px;
  height: 700px;
  margin: 50px;
  align-content: flex-start;
  align-items: center;
  align-content: center;
  justify-self: start;
  text-align: left;
}
.color{
  color: crimson;
  font-weight: 700;
  font-size: 50px;

}
.picture{
  display: grid;
  position: relative;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  height: 700px;
  width: 700px;
  justify-self: end;
  background-color: white;
}